.InputWrapper {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.InputWrapper_explain {
  display: block;
  color: red;
  background-color: #fff;
  border: 3px solid #fff;
}
  