
.InputWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: rem(15);

    &_explain {
        display: block;
        color: red;
        position: absolute;
        background-color: #ffffff;
        border: 3px solid #ffffff;
        top: -38%;
        right: 5px;
        padding: 2px 5px;
    }

    &.has-error {
        .ant-select-selection,
        .ant-input {
            border-color: red;
        }
    }
}